.page1{
    position: relative;
    background: url(../img/bei.png) no-repeat left top;
    background-size: cover;
}
.page1 img{
    position: absolute;
}
.page1 img:nth-child(1){
    width: 3rem;
    height: 6.9rem;
    right: .05rem;
    top:1rem;
}
.page1 img:nth-child(2){
    width: 3.5rem;
    height: 2rem;
    left: .5rem;
}
.page1 img:nth-child(3){
    width: 6.2rem;
    height: 1.6rem;
    top:5rem;
}
.page1 img:nth-child(4){
    width: 5rem;
    top:2rem;
    left: -1rem;
        }
.page1 img:nth-child(5){
    width: 3rem;
    left: 0.5rem;
    top:2.3rem;
}
.page2{
    position: relative;
    background: url(../img/bei2.jpg) no-repeat left top;
    background-size: cover;
}
.page2 img,p{
  position: absolute;
}
.page2 img:nth-child(1){
    height: 5rem;
    right: 0.365rem;
    top:0.9rem;
    /* position: absolute; */
    
}
.page2 img:nth-child(2){
    width: 1.5rem;
    /* position: absolute; */
   
}

.page2 img:nth-child(3){
    height: 4rem;
    left: 3.35rem;
    top:1.35rem;
    /* position: absolute; */
   
}
.page2 img:nth-child(4){
    height: 0.4rem;
    left: 1.45rem;
    top:1rem;
    /* position: absolute; */
}
.page2 p{
    color: rgb(241, 230, 215);
    top: 2.6rem;
    left: .65rem;
    font-size: .17rem;
    z-index: 100;
}
.page3{
    position: relative;
    background: url(../img/bei2.jpg) no-repeat left top;
    background-size: cover;
}
.page3 img,p{
    position: absolute;
   }
.page3 img:nth-child(1){
    height: 5rem;
    right: 0.365rem;
    top:0.9rem;
    position: absolute;
  
}
.page3 img:nth-child(2){
    width: 1.5rem;
    position: absolute;
}
.page3 img:nth-child(3){
    width: 1.5rem;
    top: 4.25rem;
    left: 2.25rem;
    position: absolute;
}
.page3 img:nth-child(4){
    height: 0.4rem;
    left: 1.45rem;
    top:1rem;
    position: absolute;
}
.page3 p{
    color: rgb(241, 230, 215);
    top: 2.6rem;
    left: .65rem;
    font-size: .17rem;
    z-index: 100;
}
.page4{
    position: relative;
    background: url(../img/bei2.jpg) no-repeat left top;
    background-size: cover;
}
.page4 img{
    position: absolute;
   }
.page4 img:nth-child(1){
    right: 0.1rem;
    top:0.9rem;
    position: absolute;
    z-index:50;
}
.page4 img:nth-child(2){
    height: 3.5rem;
    top:0.3rem;
    position: absolute;
    z-index:20;
    left: .6rem;
}
.page4 img:nth-child(3){
    width: 1.5rem;
    top: 4.25rem;
    left: 2.25rem;
    position: absolute;
    z-index:15;
}
.page4 img:nth-child(4){
    height: 5rem;
    right: 0.365rem;
    top:0.9rem;
    position: absolute;
}
.page4 img:nth-child(5){
    height: 0.4rem;
    left: 1.45rem;
    top:1rem;
    position: absolute;
}
.page5{
    position: relative;
    background: url(../img/bei2.jpg) no-repeat left top;
    background-size: cover;
}
.page5 img,p{
    position: absolute;
}
.page5 img:nth-child(1){
    width: 1.5rem;
    position: absolute;
}
.page5 img:nth-child(2){
    width: 1.5rem;
    top: 4.25rem;
    left: 2.25rem;
    position: absolute;
}
.page5 img:nth-child(3){
    width: .75rem;
    top: 2rem;
    left: .2rem;
    position: absolute;
}
.page5 img:nth-child(4){
    width: .75rem;
    top: 2rem;
    left: 1.1rem;
    position: absolute;
}
.page5 img:nth-child(5){
    width: .75rem;
    top: 2rem;
    left: 2rem;
    position: absolute;
}
.page5 img:nth-child(6){
    width: .75rem;
    top: 2rem;
    left: 2.9rem;
    position: absolute;
}
.page5 img:nth-child(7){
    width: .75rem;
    top: 3.3rem;
    left: .2rem;
    position: absolute;
}
.page5 img:nth-child(8){
    width: .75rem;
    top: 3.3rem;
    left: 1.1rem;
    position: absolute;
}
.page5 img:nth-child(9){
    width: .75rem;
    top: 3.3rem;
    left: 2rem;
    position: absolute;
}
.page5 img:nth-child(10){
    width: .75rem;
    top: 3.3rem;
    left: 2.9rem;
    position: absolute;
}
.page5 img:nth-child(11){
    width: .75rem;
    top: 4.6rem;
    left: .2rem;
    position: absolute;
}
.page5 img:nth-child(12){
    width: .75rem;
    top: 4.6rem;
    left: 1.1rem;
    position: absolute;
}
.page5 p{
    height: 2rem;
    left: 1.5rem;
    top: .7rem;
    position: absolute;
    width: 3rem;
    font-size: .42rem;
    color: #fff;
}
.page6{
    position: relative;
    background: url(../img/bei2.jpg) no-repeat left top;
    background-size: cover;
}
.page6 img,p,span{
    position: absolute;
   } 
.page6 img:nth-child(1){
    width: 1.5rem;
    position: absolute;
 }
.page6 img:nth-child(2){
    width: 1.5rem;
    top: 3.9rem;
    left: .3rem;
    position: absolute;
 } 
.page6 img:nth-child(3){
    width: 1.5rem;
    top: 3.9rem;
    left: 2.1rem;
    position: absolute;
} 
.page6 img:nth-child(4){
    width: 3.2rem;
    top: 1.1rem;
    position: absolute;
}
.page6 p{
    width: 6rem;
    font-size: .2rem;
    color: #fff;
    top: 2.7rem;
    left: .3rem;
}
.page6 span{
    width: 4rem;
    font-size: .2rem;
    color: #fff;
    top: 3rem;
    left: .3rem;
}
.page7{
    position: relative;
    background: url(../img/bei2.jpg) no-repeat left top;
    background-size: cover;
}
.page7 img,p{
    position: absolute;
} 
.page7 img:nth-child(1){
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    top: 2.2rem;
}
.page7 img:nth-child(2){
    width: 1.5rem;
    position: absolute;
    top: 4.5rem;
    left: .3rem;
}
.page7 img:nth-child(3){
    width: 1.35rem;
    position: absolute;
    top: 4.8rem;
    left: 2.2rem;
}
.page7 img:nth-child(4){
    width: 1.5rem;
    position: absolute;
    top: .6rem;
    left: .2rem;
}
.page7 img:nth-child(5){
    width: 1.5rem;
    position: absolute;
    top: .6rem;
    left: 2rem;
}
.page7 p{
    color: rgb(241, 230, 215);
    top: 2.6rem;
    left: .65rem;
    font-size: .17rem;
}
.page8{
    position: relative;
    background: url(../img/bei2.jpg) no-repeat left top;
    background-size: cover;
}
.page8 img,span,p{
    position: absolute;
   }
.page8 img:nth-child(1){
    width: 3rem;
    position: absolute;
    z-index: 30;
}
.page8 img:nth-child(2){
    width: 1.4rem;
    top: 4.3rem;
    position: absolute;
    left: 1.6rem;
    z-index: 100;
}
.page8 img:nth-child(3){
    width: 5rem;
    top: 5.5rem;
    position: absolute;
}
.page8 img:nth-child(4){
    width: 6.2rem;
    height: 1.6rem;
    top:4.5rem;
}
.page8 span{
    color: rgb(241, 230, 215);
    top: 1.8rem;
    left: .35rem;
    font-size: .6rem;
    z-index: 20;
}
.page8  p{
    color: rgb(241, 230, 215);
    top: 2.6rem;
    left: .7rem;
    font-size: .6rem;
    z-index: 20;
}
@keyframes bounceInRight{
    0%,100%,60%,75%,90%{
        -webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)
    }
    90%{
        -webkit-transform:translate3d(-5px,0,0);
        transform:translate3d(-5px,0,0)
    }
    100%{-webkit-transform:none;transform:none}
}